<div class="nav flex auto-margin embosed full-width">
    <h1 class="title">The Shop</h1>
     <div class="nav-buttons-container flex row">
        <form action="/" method="GET">
            <input class="nav-button" type="submit" value="Home" />
        </form>

       <!-- button to create new product -->
       <form action="/addProduct" method="GET">
         <input class="nav-button" type="submit" value="Add Product" />
       </form>
       
       <!-- button to display cart -->
       <form action="/cart" method="GET">
         <input class="nav-button" type="submit" value="Go to Cart" />
       </form>
     </div>
 </div>