<!DOCTYPE html>
<html lang="en">
  <body>
    <h2>Add product</h2>

    <form action="/addProduct" method="POST">
      <label for="name">Product name *</label><br />
      <input
        type="text"
        id="name"
        name="name"
        class="textInput"
        placeholder="Enter your product Name"
        required
      />
      <br />
      <label for="desc">Product Description *</label><br />
      <input
        type="text"
        name="description"
        class="textInput"
        placeholder="Tell us a little bit about your Product"
        required
      />
      <br />
      <label for="stock">Stock *</label><br />
      <input
        type="number"
        name="stock"
        class="textInput"
        required
      />
      <br />
      <label for="price">Price</label><br />
      <input
        type="number"
        name="price"
        class="textInput"
        placeholder="0"
      />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>